*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: #dde2d0;
}
.header{
    /* background-image: url(./img/IMG_4682.jpeg); */
    /* background-color: antiquewhite; */
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 30vh;
    margin: 0;
    padding-top: 0;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Georgia';
    font-size: 4em;
    font-weight: normal;
    padding-top: 5vh;
    margin-top: 0;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Georgia';
    font-size: .6em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
    background-color: #dde2d0;
}
.sub-heading{
    font-family: 'Georgia';
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 5em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

.responsive-image {
    padding-top: 4em;
    padding-bottom: 4em;
    width: 50%; /* Default width for larger screens */
    height: auto; /* Maintain aspect ratio */
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }

    .responsive-image {
        width: 100%; /* Full width for mobile */
        max-width: 400px;
        padding-top: 1em;
        padding-bottom: 1em;
    }
  }